.logo {
  text-align: center;
}

/* Hide additional content for logged out users, etc.*/
.hide-content {
  display: none;
}

.selections {
  clear: both;
}

.log-in-forms {
  text-align: center;
}

.success {
  color: darkgreen;
  text-align: center;
}

.failure {
  color: red;
  text-align: center;
}

.panel {
  background-color: #fff;
  border: 0 solid;
  margin-bottom: 20px;
}

.panel-default {
  border-color: #ddd;
}

.panel-heading {
  border-bottom: 2px solid;
  font-size: 1.8em;
  letter-spacing: -1px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}

.panel-body {
  padding: 20px;
  text-align: center;
}

ul {
  display: inline-block;
  text-align:left;
}

.modal {
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background-color: blue;
    border: 1px solid #888;
    margin: 15% auto;
    padding: 20px;
    width: 45%;
}

.modal-failure {
  color: red;
  text-align: center;
}

.appointment-modal-failure{
  color: red;
  text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;

}

.name-result {
  font-weight: bold;
  text-transform: uppercase;
}
